pipeline/FULL_load_implimentation.json
{
	"name": "FULL_load_implimentation",
	"properties": {
		"activities": [
			{
				"name": "lookup_from_sql_azure_full_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM dbo.hydration where LoadType='full' and status=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableForFullLoad",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_from_sql_azure_full_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_from_sql_azure_full_load').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'select * from ',\n    item().sourceSchema,\n    '.',\n    item().sourceTableName\n    )",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable_onPrems",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().sourceSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dS_adls_fullLoad_OUTPUT",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@item().sourceSchema",
											"type": "Expression"
										},
										"TABLEname": {
											"value": "@item().sourceTableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "EDUFULLNESS-PROJECT"
		},
		"annotations": [],
		"lastPublishTime": "2025-03-11T03:26:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}